# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus
# for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Open Git Gui'
      'command': 'git-gui:open'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Git Gui'
      'submenu': [
        {
          'label': 'Open'
          'command': 'git-gui:open'
        }
      ]
    ]
  }
]
